
:root{ 
  /* Colors */

  /* Primary */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  
  /* font */
  --font-family: 'Hanken Grotesk', sans-serif;
}
*{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}
body{
   
  min-height: 100vh;
  background-color: var(--pale-blue);
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 18px;
  font-weight: 800;  
  /* box-shadow: 0px 7px 23px 0px rgba(214,211,232,1); */
} 
.card{
  width: clamp(700px, 60%, 750px);
  min-height: 500px;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  background-color: var(--white);
}
.cards {
  flex-basis: 425px;
 
}
.card_result{
  background-image: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));  /* max-width: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;  
  color: var(--white);
  border-top-right-radius:30px ;
  border-bottom-right-radius:30px ;
  /* z-index: 1; */

}

.card_result h3{
  
  font-size: 22px;
  opacity: 0.6;
  margin-top: 40px;
  font-weight: 400;
}
.card_result_score{
  display: flex;
  flex-direction: column;
  align-items: center; 
  border-radius: 50%;
  background-image: linear-gradient(to bottom, var(--violet-blue)0 2%, var(--persian-blue)40%);
  padding: 30px 50px;
  margin-top: 35px;
  margin-bottom: 70px;
  
}
.card_result_score h1{
  font-size: 50px;
}
.card_result_score p{
  opacity: 0.2;
  font-weight: 500;
  /* font-size: 9px; */
}
.paragraph_info{
  margin: 20px 60px 20px 50px;
  text-align: center;
  font-weight: 500;
  opacity: 0.6;
}
.card_summary{
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding:40px 50px ;
  
}
.card_summary h3{
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 20px;
  
}
.card_summary a{
  color: var(--white);
  background-color: var(--dark-gray-blue);
  text-decoration: none;
  text-align: center;
  padding: 15px 30px;
  border-radius: 50px;
  margin-top: 20px;
  font-weight: 400;
}
.card_summary_item{
  display: flex;
  align-items: center;
  padding: 1rem 0;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  
}
.card_summary_item p span{
  margin-left: 5px;
  opacity: 0.3;
}
.card_summary_item img{
  margin:0 15px;
}
.card_summary_item p{
  margin-left: 20%;
}
.reaction{
  background-color: hsla(0, 100%, 67%, .08);

}
.reaction h4{
  color: var(--light-red);
}
.memory{
  background-color:hsl(39, 100%, 56%, .08);
}
.memory h4{
  color: var(--orangey-yellow);
  padding-right: 5px;
}
.verbal{
  background-color:hsl(166, 100%, 37%, .08);
}
.verbal h4{
  color: var(--green-teal);
  padding-right: 21px;
}
.visual{
  background-color:hsl(234, 85%, 45%, .08);
}
.visual h4{
  color: var(--cobalt-blue);
  padding-right: 26px;
}
@media only screen and (max-width: 1200px) {
  /* .card_summary_item p{
    margin-left: 40px;
  } */
}
@media only screen and (max-width: 425px) {
  .card{
    /* min-height: 400px; */
    display: flex;
    flex-direction: column;
    border-radius: 0;
    overflow: hidden;
    background-color: var(--white);
  }
  .card_result{
    border-top-right-radius:0;
    border-bottom-left-radius: 30px;
    max-height: 350px;
  }
  
  .card_result h3{
    margin-top: 20px;
  }
  .card_result_score{
    padding: 25px 45px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .card_summary{
    max-height: 470px;
  }
  .card_summary_item{
    padding:25px 0;
  }
  .card_summary a{
    margin-top: 5px;
   
  }
}
